<div class="genie-box col-xs-6 col-xs-offset-3 text-center">

<h2>
	Upload your funny image
</h2>
<br/>
<br/>
	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: 'What is this image about?', placeholder: 'Drunken monkey, racing rhino' %>
		<br/>

		<%= f.input :description, label: 'Tell me more', placeholder: 'monkey eats banana' %>
		<br/>

		<%= f.input :image %>
		<br/>
		<%= f.button :submit, :class => 'btn btn-warning' %>
	<% end %>

</div>